<h2>Character Movement</h2>

<form (ngSubmit)="onSubmit()" method="post">
  <div class="form-group">
    <label for="coordinates">Initial Coordinates</label>
    <input type="text" id="coordinates" [(ngModel)]="coordinates" name="coordinates" placeholder="Enter coordinates">
  </div>

  <div class="form-group">
    <label for="movements">Movements</label>
    <input type="text" id="movements" [(ngModel)]="movements" name="movements" placeholder="Enter movements">
  </div>

  <button type="submit">Déplacer</button>
</form>

<div *ngIf="result">
  <p>Result: ({{ result?.x }}, {{ result?.y }})</p>

</div>